@charset "UTF-8";

body {
    margin: 10px;
}
h4 {
    margin-top: 2px;
    margin-bottom: 2px;
    color: white;
}
table > tbody > tr:first-child > td:first-child {
    border: 1px solid lightblue;
    background-image: url("img/import.jpg");
    /*background-position: 9px 9px;*/
    background-repeat: no-repeat;
}
table a {
    color: white;
}
