/**
 * WARNING
 * WARNING
 * WARNING
 * WARNING
 * WARNING: these data shouldn't be NEVER imported/required in files that's gonna be exposed in browser
 * WARNING ... only in server scripts
 * WARNING
 * WARNING
 * WARNING: ... and don't remove this comment message, please...
 */

module.exports = {
    jwt: {
        secret: ':::jwtsecret:',

        // https://github.com/auth0/node-jsonwebtoken#jwtverifytoken-secretorpublickey-options-callback
        // param 'maxAge'
        tokenExpireAfter: '3m',
        users: [
            {
                username: 'admin',
                password: 'defpass'
            }
        ]
    },
    checkAcceptHeader: true,
    htmlParams: {
        // gaid: 'UA-xxxxx-xx'
    },
    php_proxy: {
        prefix: '/endpoint',
        schema: 'http',
        host: 'localhost',
        port: 8280
        // the same endpoint:
        //   php    : http://localhost:8280/web/json
        //   node   : http://localhost:1025/endpoint/json
    }
}
