.first {
    border: 1px solid gray;
    display: inline-block;
    height: 50px;
    background-color: lightgray;
}
.transition {
    display: flex;
    & > div {
        display: inline-block;
        //align-self: start;
    }
}